@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #72a276;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #72a276;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Kanit";
}

@font-face {
  font-family: "Kanit";
  src: local("Kanit"), url(./../fonts/Kanit-Black.ttf) format("ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Kanit";
  src: local("Kanit"), url(./../fonts/Kanit-Regular.ttf) format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Kanit";
  src: local("Kanit"), url(./../fonts/Kanit-Thin.ttf) format("ttf");
  font-weight: 100;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
